{{>partials/header}}


<!--NEWS-->
        <div class="row justify-content-center padding">

            <div class="col-sm-4">
                <img class="img-fluid" src="https://picsum.photos/350/200" />
                <p class="h3 text-center text-success">Title</p>
                <p class="text text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt odio, eu tincidunt sem. Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.</p>
                <button class="btn btn-success">News 1</button>
            </div>
            <div class="col-sm-4">
                <img class="img-fluid" src="https://picsum.photos/350/200" />
                <p class="h3 text-center text-danger">Title</p>
                <p class="text text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt odio, eu tincidunt sem. Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.</p>
                <button class="btn btn-danger">News 1</button>
            </div>
            <div class="col-sm-4">
                <img class="img-fluid" src="https://picsum.photos/350/200" />
                <p class="h3 text-center text-warning">Title</p>
                <p class="text text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt odio, eu tincidunt sem. Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.</p>
                <button class="btn btn-warning">News 1</button>
            </div>
        </div>
        <!--Twin news-->
        <div class="row justify-content-center padding">
            <div class="col-sm">
                <img class="img-fluid" src="https://picsum.photos/565/350" />
                <p class="h3 text-center">Mauris eu tincidunt</p>
                <p class="text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris eu tincidunt odio, eu tincidunt sem.
                    Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.
                </p>
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="https://picsum.photos/565/350" />
                <p class="h3 text-center">Mauris eu tincidunt</p>
                <p class="text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris eu tincidunt odio, eu tincidunt sem.
                    Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.
                </p>
            </div>
        </div>        
        <!--Foto com texto por cima-->
        <div class="jumbotron jumbotron-fluid" style="background-image: url('/images/bg1.png')">
            <div class="container">
                <h1 class="display-4 text-center" style="color: #fff">Our Services</h1>
                <p class="lead text-wrap" style="color: #fff">
                    Ut auctor ornare tempus. Curabitur lobortis tortor sit amet lacus tincidunt, vitae consequat tortor efficitur. Morbi tempor placerat ligula, ac aliquet metus dapibus sed. Suspendisse eleifend, lorem vel tempus vehicula, lectus sapien finibus urna, eu dictum felis purus ut metus.
                </p>
            </div>
        </div>
        <!--Quatro noticias-->
        <div class="row padding-bottom">
            <div class="col-sm bg-white">
                <img class="img-fluid mx-auto d-block" src="https://picsum.photos/id/22/300/300" />
                <p class="h3 text-center">Title</p>
                <p class="text text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt odio, eu tincidunt sem. Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.</p>

            </div>
            <div class="col-sm">
                <img class="img-fluid mx-auto d-block" src="https://picsum.photos/id/47/300/300" />
                <p class="h3 text-center">Mauris eu</p>
                <p class="text text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt odio, eu tincidunt sem. Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.</p>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-dark">Read more</button>
                </div>
            </div>
            <div class="col-sm">
                <img class="img-fluid mx-auto d-block" src="https://picsum.photos/id/10/300/300" />
                <p class="h3 text-center">consectetur adipiscing</p>
                <p class="text text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt odio, eu tincidunt sem. Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.</p>


            </div>
            <div class="col-sm">
                <img class="img-fluid mx-auto d-block" src="https://picsum.photos/id/8/300/300" />
                <p class="h3 text-center">sit amet</p>
                <p class="text text-wrap text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt odio, eu tincidunt sem. Morbi posuere odio sagittis nunc vehicula, at euismod mi gravida.</p>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-dark">Read more</button>
                </div>
            </div>
        </div>


        <div class="row padding">
            <div class="col-sm">
                <img class="img-fluid" src="/images/bg2.png" />
                <p class="h4">Morbi posuere</p>
                <p class="text text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed tincidunt metus. Curabitur dictum vel orci eu porttitor. Cras non dignissim sapien. Proin ut bibendum eros, at semper arcu. Pellentesque mauris magna, pretium et venenatis quis, sollicitudin et magna. Ut placerat tortor magna, ut maximus ligula placerat id. Aliquam dictum, nulla a euismod suscipit, felis ante laoreet nibh, sed porttitor mi erat vitae ligula. Morbi orci orci, tincidunt id mollis sed, consequat ac odio. Mauris odio dui, volutpat in nisi vitae, ullamcorper placerat neque. Nullam dui turpis, vestibulum eu vulputate egestas, sollicitudin a massa. Nunc cursus porta metus, eget dignissim mauris. Donec scelerisque urna fringilla eros venenatis pharetra. Duis maximus pharetra ex, sit amet accumsan ipsum finibus eu. In sit amet gravida ligula.

                    Donec fermentum orci eu ornare molestie. Phasellus ullamcorper mollis rhoncus. In ut nibh felis. Nullam eget dui consectetur, fermentum dolor in, fringilla quam. Donec quis dui vulputate, elementum sem in, consequat felis. Donec nec est semper, porttitor ipsum a, feugiat leo. Nullam quis ipsum ante. Vestibulum facilisis auctor nisl, hendrerit faucibus urna convallis et.
                </p>
                <button class="btn btn-dark">Read more</button>

            </div>
        </div>

{{>partials/footer}}