 <footer>
            <div class="jumbotron-fluid" style="background-image: url('/images/bg.png')">
                <div class="row justify-content-center">
                    <div class="col-sm">
                        <h3 class="display-3 text-center">Contact Form</h3>
                        <p class="lead text-center">
                            Donec fermentum orci eu ornare molestie. Phasellus ullamcorper mollis rhoncus. In ut nibh felis. Nullam eget dui consectetur, fermentum dolor in, fringilla quam. Donec quis dui vulputate, elementum sem in, consequat felis. Donec nec est semper, porttitor ipsum a, feugiat leo. Nullam quis ipsum ante. Vestibulum facilisis auctor nisl, hendrerit faucibus urna convallis et.
                        </p>
                    
                        <form class="form">
                            <div class="form-row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="name" class="form-control" /><br />
                                        <input type="email" placeholder="email" class="form-control" /><br />
                                        <input type="text" placeholder="subject" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <textarea cols="10" rows="10" type="text" class="form-control" maxlength="100"></textarea><br />
                                        <input type="submit" value="Send" class="btn  btn-outiline-dark form-control" />
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer bg-dark text-light">
                
                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        Direitos autorais
                    </div>
                </div>
            </div>


            
        </footer>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>